#app {
  text-align: center;
}

#app #tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

#app #tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

#app #tab button:hover {
  background-color: #ddd;
}

#app #tab button.active {
  background-color: #ccc;
}

#app .tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}

#app #applyNow {
  clear: both;
  padding: 10px 0;
}
